@import url('https://fonts.googleapis.com/css?family=Heebo');


body {
    background-color: white;
    margin: 0;
    font-family: 'Heebo', sans-serif;
    }



* { 
    outline: 1px solid lime;
}




#header {
    background-color: #f4f6fe;
    color: white;
    height: 105px;
}


.nav {
    max-width: 1020px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% auto auto auto auto;
    padding: 20px;
}

.logo img{
    width: 65px;
    height: 90px;
}

.links a {
    color: #f3a7a9;
    text-decoration: none;
    text-align: right;
    /*underline*/
    padding-left: 10px;
    padding-right: 10px;
}

















